
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simon Says</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="nav"><a class="nav-home" href="{{ url_for('simonsays') }}">Home</a></nav>
    <div class="container">
        <p class="small-text">simon says...</p>
        <h1 class="big-text">
            stop scrolling<br>
            get back to<br>
            work
        </h1>
    </div>
</body>
</html>